<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Pager : custom pager with jsrender" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Pager</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/lmh2072005/pager">View on GitHub</a>

          <h1 id="project_title">Pager</h1>
          <h2 id="project_tagline">custom pager with jsrender</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/lmh2072005/pager/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/lmh2072005/pager/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>
<a name="pager" class="anchor" href="#pager"><span class="octicon octicon-link"></span></a>pager</h1>

<p>custom pager with jsrender</p>

<p>you can configure the pager about the data-list  and the pager ui . </p>

<p>the pager depends on the jquery  and the jsrender.</p>

<h2>
<a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>usage</h2>

<h3>
<a name="1-html" class="anchor" href="#1-html"><span class="octicon octicon-link"></span></a>1. html</h3>

<p>use the wrap that show the pager and the data-list.</p>

<pre><code>    &lt;ul id="simpleListBox"&gt;&lt;/ul&gt;
    &lt;div id="simplePageBox"&gt;&lt;/div&gt;
</code></pre>

<h3>
<a name="2-jsrender-template" class="anchor" href="#2-jsrender-template"><span class="octicon octicon-link"></span></a>2. jsrender template</h3>

<p>a. pager template: just notice the format about the className and the data-page attribute with the correct element.
eg: class="pageRead"  data-page="first" .
.yxPager is the pager ui className.</p>

<pre><code>    &lt;script id="pageSimpleTemp" type="text/x-jsrender"&gt;
      &lt;div class="yxPager"&gt;
       {{if curPage == 1}}
                &lt;span class="pageRead"&gt;首页&lt;/span&gt;
                &lt;span class="pageRead"&gt;上一页&lt;/span&gt;
        {{else}}
                &lt;a href="javascript:;" data-page="first"&gt;首页&lt;/a&gt;
                &lt;a href="javascript:;" data-page="prev"&gt;上一页&lt;/a&gt;
        {{/if}}
        {{if curPage == totalPage}}
         &lt;span class="pageRead"&gt;下一页&lt;/span&gt;
         &lt;span class="pageRead"&gt;末页&lt;/span&gt;
         {{else}}
        &lt;a href="javascript:;" data-page="next"&gt;下一页&lt;/a&gt;
        &lt;a href="javascript:;" data-page="last"&gt;末页&lt;/a&gt;
        {{/if}}
      &lt;span class="infoBox"&gt;共{{&gt;totalPage}}页，当前第{{&gt;curPage}}页，到第&lt;input type="text" class="jumpPage" value="{{&gt;curPage}}" /&gt;页&lt;/span&gt;
      &lt;a href="javascript:;" data-page="jump"&gt;确定&lt;/a&gt;
      &lt;/div&gt;
    &lt;/script&gt;
</code></pre>

<p>b. data-list template:</p>

<pre><code>    &lt;script id="listTemp" type="text/x-jsrender"&gt;
       &lt;li&gt;时间：{{&gt;DateTime}} amount：{{&gt;Amount}}&lt;/li&gt;
    &lt;/script&gt;
</code></pre>

<h3>
<a name="3-javascript" class="anchor" href="#3-javascript"><span class="octicon octicon-link"></span></a>3. javascript</h3>

<p>user the function pager.init</p>

<pre><code>    pager.init({
        listTemp:$('#listTemp'),   //data-list template
        listTempWrap:$('#simpleListBox'),  //data-list template wrap
        pageTemp : $('#pageSimpleTemp'),   //pager template
        pageTempWrap : $('#simplePageBox'),  //pager template wrap
        url : '../index.php',     //request url
        limit : 2,              //limit
        pagerInit : function(){}   //callback after pager init
    });
</code></pre>

<h2>
<a name="the-demo-pager-ui" class="anchor" href="#the-demo-pager-ui"><span class="octicon octicon-link"></span></a>the demo pager ui</h2>

<p><img src="https://raw.github.com/lmh2072005/pager/master/demo/yixun.jpg" alt="易讯分页" title="易讯分页效果"><br><img src="https://raw.github.com/lmh2072005/pager/master/demo/simple.jpg" alt="简单分页" title="简单分页效果"></p>

<h2>
<a name="license" class="anchor" href="#license"><span class="octicon octicon-link"></span></a>License</h2>

<p>pager is available under the terms of the <a href="https://github.com/lmh2072005/pager/blob/master/LICENSE">MIT License</a>.</p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Pager maintained by <a href="https://github.com/lmh2072005">lmh2072005</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
